* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px
}

nav {
    height: 8rem;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlinks {
    width: 50rem;
    color: firebrick;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navlink {
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    padding: .5rem 2rem;
    background-color: royalblue;
    border-radius: 2rem;
    color: black;
    transition: .3s
}
    
.navlink:hover {
    color: purple;
}

section {
    padding: 2rem 0;  
    display: flex;
    justify-content: center;
    background-color: #ededed;
    font-family: 'Ubuntu', sans-serif;
}

img {
    height: 50rem;
}

.section--picture {
    text-align: center;
}

.section--content {
    width: 75%;
    background-color: ededed;
    text-align: center;
}

.section--content > h1 {
    font-size: 2rem;
    margin:1rem 0rem;
}

.section--content > h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section--content > p {
    text-align: left;
}


